{% extends 'get_data/layout/base.html' %}
{% load staticfiles %}

{% block body_block %}

    <div class="container theme-showcase" role="main">
        <h2>Categories</h2>
        <hr>
        <div id="categories" class="col-lg-offset-1 col-lg-10">
            {% if categories %}

                <h3>Please Select maximum 3 categories </h3>

                <div class="row">
                    {% for cat in categories %}
                        <div class="col-lg-3">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="{{ cat.id }}" class="ck_category">{{ cat.name }}
                                </label>
                            </div>
                        </div>
                    {% endfor %}

                    <p class="text-center">
                        <button class="btn btn-primary" type="button" id="getEvent">Select Category</button>
                    </p>

                </div>
            {% endif %}
        </div>


    </div> <!-- /container -->

{% endblock %}

{% block js_footer %}
    {{ block.super }}
    <script src="{% static 'js/common.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
{% endblock %}