{% extends 'get_data/layout/base.html' %}
{% load staticfiles %}
{% load date_format %}

{% block css_header %}
    {{ block.super }}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block body_block %}

    <div class="container theme-showcase" role="main">
        <ol class="breadcrumb">
            <li><a href="{% url 'get_data:select_categories' %}">Select Categories</a></li>
            <li class="active">Event Details</li>
        </ol>

        <div class="loader hide">

        </div>

        <div class="page-header">
            <h1>Your Selected Categories Event</h1>
        </div>
        <div class="paginate"  data-total-page="{{ event_data.pagination.page_count }}" data-current-page="{{ event_data.pagination.page_number }}" data-url="{{ page_url }}"></div>

        {% if event_data %}
            <div class="row">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th width="15%">Name</th>
                        <th width="8%">Logo</th>
                        <th width="33%">Discription</th>
                        <th  width="17%">Start Date</th>
                        <th  width="17%">End Date</th>
                        <th  width="10%">Capacity</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for data in event_data.events %}
                        <tr>
                            <td width="15%">{% autoescape on %}{{ data.name.text }}{% endautoescape %}</td>
                            <td width="8%"><img src="{{ data.logo.url }}" alt="logo" width="80px" height="40px"/></td>
                            <td width="33%" data-toggle="tooltip" title="{{ data.description.text }}">{% autoescape on %}{{ data.description.text }}{% endautoescape %}</td>
                            <td width="17%">{% date_time data.start.local %} {{ data.start.timezone }}</td>
                            <td width="17%">{% date_time data.end.local %} {{ data.end.timezone }}</td>
                            <td width="10%">{{ data.capacity }}</td>

                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
            <div class="paginate"  data-total-page="{{ event_data.pagination.page_count }}" data-current-page="{{ event_data.pagination.page_number }}" data-url="{{ page_url }}"></div>

        {% endif %}


    </div> <!-- /container -->





{% endblock %}

{% block js_footer %}
    {{ block.super }}
    <script src="{% static 'js/jquery.bootpag.min.js' %}"></script>
    <script src="{% static 'js/common.js' %}"></script>
    <script src="{% static 'js/event-detail.js' %}"></script>
{% endblock %}